/HW02/CalculatingPi/nbproject/private/
/HW02/CalculatingPi/build/
/FirstGUI/nbproject/private/
/FirstGUI/build/
/GUIpi/nbproject/private/
/GUIpi/build/
/HW02/HomeworkTracker/nbproject/private/
/HW02/HomeworkTracker/build/
/HW02/Random/nbproject/private/
/HW02/CookieSales/nbproject/private/
/HW02/CookieSales/build/
/HW02/CookieSales/dist/
/HW02/CalculatingPi/dist/
/HW02/HomeworkTracker/dist/
/HW02/fun/nbproject/private/
/HW02/fun/build/
/HW03/UserInput/nbproject/private/
/HW03/UserInput/build/
/HW03/UserInput/dist/
/HW03/ShapeHierarchy/nbproject/private/
/HW03/ShapeHierarchy/build/
/HW03/ShapeHierarchy/dist/